body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: black;
}

#headerlist{
  padding-left: 20px;
}

ul {
  zoom:1; *display: inline; _height: 30px;
}

.left_list{
  padding-left: 40px;
  float:left;
  width: 600px;
}

.right_list{
  float:right;
  width: 600px;
  padding-right: 40px;
}

.bottom_list{
  padding-left: 40px;
  width: 600px;
}

#socials{
    position: absolute;
    display: inline-block;
    bottom: 10%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    text-decoration: none;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
}
#socials span{
    border-radius: 50%;
    color: black;
    text-align: center;
    padding-top: 10px;
    margin: 20px;
    transition: all .5s ease 0s;
    cursor: pointer;
}

.header {
    overflow: hidden;
    padding-top: 10px;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
  }

  