body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    background-color: black;
}

div {
    padding: 10px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    position: relative;
}

#intro {
    background-color: black;
}

#intro ul {
    list-style-type: none;
    margin: 120px;
    color: green;
    font-size: 20px;
    text-align: left;
    font-family: "Courier New", Times, monospace;
    font-weight: 40px;
}

#answers {
    margin-left: 20px;
    margin-bottom: 10px;
}
