body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    background: linear-gradient(253deg, #0cc898, #1797d2, #0cc898,#1797d2);
    background-size: 400% 400%;

}

#name {
    line-height: 400px;
    text-align: center;
    color: white;
    font-size: 120px;
    font-weight: normal;
}

.socials{
    position: absolute;
    display: inline-block;
    bottom: 10%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    text-decoration: none;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
}
.socials span{
    border-radius: 50%;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    margin: 30px;
    transition: all .5s ease 0s;
    cursor: pointer;
}


